body{
    background-position: center;
    background-size: cover;
}
.heading{
    width: 100%;
    top: 0;
    font-size: 25px;
}
#start,#status,#item_found{
font-size: 18px;
}
canvas{
    border: 5px ridge aqua;
    border-radius: 15px;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    margin-top: 75px;
}
@keyframes example{
    from{box-shadow: 6px 6px 32px aqua;}
    to{box-shadow: 6px 6px 32px whitesmoke;}
}